<div class='card'>
    <div class='card-header'>
        {{pageTitle}}
    </div>
    <div class='card-body'>
        <div *ngIf='filteredProducts.length' class='row'>
            <div>Filter by Name:
                <input type='text' [(ngModel)]='listFilter' />
            </div>
        </div>

        <table class='table' *ngIf='products.length'>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Height</th>
                    <th>Mass</th>
                    <th>Hair Color</th>
                    <th>Skin Color</th>
                    <th>Eye Color</th>
                    <th>Birth Year</th>
                    <th>Gender</th>
                    <th>Homeworld</th>
                    <th>Species</th>
                </tr>
            </thead>
            <tbody>
                <tr
                    *ngFor='let product of filteredProducts | paginate: { itemsPerPage: 10, currentPage: p }; let i = index'>

                    <td>{{product.name}}</td>
                    <td>{{product.height }}</td>
                    <td>{{product.mass}}</td>
                    <td>{{product.hair_color }}</td>
                    <td>{{product.skin_color}}</td>
                    <td>{{product.eye_color}}</td>
                    <td>{{product.birth_year}}</td>
                    <td>{{product.gender}}</td>
                    <td>{{product.homeworld}}</td>
                    <td>{{product.species}}</td>

                </tr>
            </tbody>
        </table>
        <pagination-controls *ngIf='filteredProducts.length' class="paginate" (pageChange)="p = $event">
        </pagination-controls>
    </div>
</div>