.table thead th td{
    vertical-align: top;
}

.card {
    position: relative;
    margin-top: 5%;
}

.card-header {
    text-align: center;
    background-color: black; 
    color: white

}

.paginate {
    text-align: center;
    font-size: 12px;
}

th {
    white-space: nowrap;
    cursor: pointer;
    user-select: none;
    color: rgb(0, 0, 0);
}

table {
    margin: 0;
    table-layout:fixed;
    font-size: 12px;
}

.table-responsive {
    min-height: 60px;
}

