<nav class='navbar navbar-expand'>
	<a class='navbar-brand'>{{pageTitle}}</a>
	<ul class='nav navbar-right'>
		<li *ngIf="!isLoggedIn">
			<a class="nav-link" routerLink='/login'>Log In</a>
		</li>
		<li *ngIf="isLoggedIn">
			<a class="nav-link" (click)="logOut()">Log Out</a>
		</li>
	</ul>
</nav>
<div class='container'>
	<router-outlet>
	</router-outlet>
</div>