
.navbar {
    background-color: black;
}

.navbar-right{
    position:absolute;
    right: 0;
    top:2;
}

.navbar-brand{
    display:block;
    margin:0 auto;
    text-align:center;
    color: white;
}