<div class="col d-flex justify-content-center">
    <div class="card">
        <div class="card-header">
            {{pageTitle}}
        </div>
        <!-- If prod env, would perform user input validation -->
        <div class="card-body">
            <form novalidate (ngSubmit)="login(loginForm)" #loginForm="ngForm" autocomplete="off">
                <fieldset>
                    <div class="form-group row">
                        <label class="col-md-2 col-form-label">User Name</label>
                        <div class="col-md-8">
                            <input class="form-control" id="userNameId" type="text" required ngModel name="userName"
                                #userNameVar="ngModel" autocomplete="on" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-2 col-form--label">Password</label>
                        <div class="col-md-8">
                            <input class="form-control" id="passwordId" type="password" required ngModel name="password"
                                #passwordVar="ngModel" autocomplete="on" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 offset-md-2">
                            <button class="btn btn-primary mr-3" type="submit">
                                Log In
                            </button>
                            <button class="btn btn-outline-secondary" type="button" routerLink='/collection'>
                                Cancel
                            </button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>